<!doctype html>
<html lang="en-us">
<head>
    <title>1512444 - Bé tập tính - Express</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div>
    <form id="form" action="/tinh" method = "post">
        <table>
            <tr>
                <td class="cap" colspan="4">Bé tập tính</td>
            </tr>
            <tr>
                <td class="label"> Số thứ nhất: </td>
                <td>
                    <input type="text" name="num1" value={{number1}}>
                </td>
                <td>
                    <input class="check-box" type="radio" name="pheptinh" value="+" {{check1}} checked>
                    <span class="label">Cộng</span>
                </td>
                <td>
                    <input class="check-box" type="radio" name="pheptinh" value="-" {{check2}}>
                    <span class="label">Trừ</span>
                </td>
                <td>
                    <input class="check-box" type="radio" name="pheptinh" value="-" {{check2}}>
                    <span class="label">Mũ</span>
                </td>
            </tr>
            <tr>
                <td class="label"> Số thứ hai: </td>
                <td>
                    <input type="text" name="num2" value={{number2}}>
                </td>
                <td>
                    <input class="check-box" type="radio" name="pheptinh" value="*" {{check3}}>
                    <span class="label">Nhân</span>
                </td>
                <td>
                    <input class="check-box" type="radio" name="pheptinh" value="/" {{check4}}>
                    <span class="label">Chia</span>
                </td>
            </tr>
            <tr>
                <td class="label"> Kết quả: </td>
                <td>
                    <input disabled value = {{result}}>
                </td>
                <td>
                    <button class="btn btn-outline-info" type="submit">Tính</button>
                </td>
            </tr>
            <tr>
                <td class="label">Thông báo: </td>
                <td colspan="3">
                    <p id="error">{{error}}</p>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>